<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7dea0">  <td>14/11/09 01:26:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;verifyNewRepeatedInvoiceCreation.beforeMethod()[pri:0, instance:hybridFrameWork.verifyNewRepeatedInvoiceCreation@1a23b66]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@29163445</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>14/11/09 01:27:00</td>   <td>19481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyNewRepeatedInvoiceCreation.main()[pri:0, instance:hybridFrameWork.verifyNewRepeatedInvoiceCreation@1a23b66]">main</td> 
  <td>main@29163445</td>   <td></td> </tr>
</table>
